* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.holes__parent {
  height: 500px;
  width: 500px;
  background: #adb5bd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 60px;
  border-radius: 5px;
}

.hole {
  height: 100px;
  width: 100px;
  background: #212529;
  border-radius: 50%;
  cursor: pointer;
}

.angry__imogi {
  height: 100px;
  width: 100px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.restart__btn,
.start__btn {
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  font-weight: 600;
  background: #ffa94d;
}

.start__btn {
  background: #96f2d7;
}

.chance {
  font-weight: bold;
}

.game__end {
  color: red;
  font-weight: bold;
}
